# UCI Car Evaluation Dataset

Car Evaluation Database was derived from a simple hierarchical decision model originally developed for the demonstration of DEX, M. Bohanec, V. Rajkovic: Expert system for decision making. Sistemica 1(1), pp. 145-157, 1990.). The model evaluates cars according to the following concept structure:

CAR car acceptability:

. PRICE overall price

. . buying buying price

. . maint price of the maintenance

. TECH technical characteristics

. . COMFORT comfort

. . . doors number of doors

. . . persons capacity in terms of persons to carry

. . . lug_boot the size of luggage boot

. . safety estimated safety of the car

In [2]:
# Importing dependencies

import pandas as pd

## Loading Data

In [3]:
df = pd.read_csv("cardt.csv")
df.head()

   vhigh vhigh.1  2 2.1  small   low  unacc
0  vhigh   vhigh  2   2  small   med  unacc
1  vhigh   vhigh  2   2  small  high  unacc
2  vhigh   vhigh  2   2    med   low  unacc
3  vhigh   vhigh  2   2    med   med  unacc
4  vhigh   vhigh  2   2    med  high  unacc

### Adding Columns

In [4]:
df.columns =['buying', 'maint', 'doors', 'persons','lug_boot','safety','class']
df.head()

  buying  maint doors persons lug_boot safety  class
0  vhigh  vhigh     2       2    small    med  unacc
1  vhigh  vhigh     2       2    small   high  unacc
2  vhigh  vhigh     2       2      med    low  unacc
3  vhigh  vhigh     2       2      med    med  unacc
4  vhigh  vhigh     2       2      med   high  unacc

### Replacing 'CLASS' values

In [5]:
df = df.replace({
    'class': {
        'unacc': '1',
        'acc': '2',
        'good': '3',
        'vgood': '4'
}})

df.head()

  buying  maint doors persons lug_boot safety class
0  vhigh  vhigh     2       2    small    med     1
1  vhigh  vhigh     2       2    small   high     1
2  vhigh  vhigh     2       2      med    low     1
3  vhigh  vhigh     2       2      med    med     1
4  vhigh  vhigh     2       2      med   high     1

In [6]:
df.dtypes

buying      object
maint       object
doors       object
persons     object
lug_boot    object
safety      object
class       object
dtype: object

### Changing 'CLASS' data type

In [7]:
df['class'] = df['class'].astype('int64')
df.dtypes

buying      object
maint       object
doors       object
persons     object
lug_boot    object
safety      object
class        int64
dtype: object

In [8]:
df['class'].value_counts()

1    1209
2     384
3      69
4      65
Name: class, dtype: int64

## Similarly for other attributes

### Counting

In [9]:
df['buying'].value_counts()

high     432
low      432
med      432
vhigh    431
Name: buying, dtype: int64

In [10]:
df['maint'].value_counts()

high     432
low      432
med      432
vhigh    431
Name: maint, dtype: int64

In [11]:
df['doors'].value_counts()

4        432
3        432
5more    432
2        431
Name: doors, dtype: int64

In [12]:
df['persons'].value_counts()

4       576
more    576
2       575
Name: persons, dtype: int64

In [13]:
df['lug_boot'].value_counts()

big      576
med      576
small    575
Name: lug_boot, dtype: int64

In [14]:
df['safety'].value_counts()

high    576
med     576
low     575
Name: safety, dtype: int64

### Replacing values

In [15]:
df = df.replace({
    'buying': {
        'low': '1',
        'med': '2',
        'high': '3',
        'vhigh': '4'
},
    'maint': {
        'low': '1',
        'med': '2',
        'high': '3',
        'vhigh': '4'
},
    'doors': {
        '5more': '5',
},
    'persons': {
        'more': '5',
},
    
    'lug_boot': {
        'small': '1',
        'med': '2',
        'big': '3',
},
    'safety': {
        'low': '1',
        'med': '2',
        'high': '3',
}    
})

df.head()

  buying maint doors persons lug_boot safety  class
0      4     4     2       2        1      2      1
1      4     4     2       2        1      3      1
2      4     4     2       2        2      1      1
3      4     4     2       2        2      2      1
4      4     4     2       2        2      3      1

In [16]:
df.dtypes

buying      object
maint       object
doors       object
persons     object
lug_boot    object
safety      object
class        int64
dtype: object

### Changing data type

In [17]:
df['buying'] = df['buying'].astype('int64')
df['maint'] = df['maint'].astype('int64')
df['doors'] = df['doors'].astype('int64')
df['persons'] = df['persons'].astype('int64')
df['lug_boot'] = df['lug_boot'].astype('int64')
df['safety'] = df['safety'].astype('int64')


df.dtypes

buying      int64
maint       int64
doors       int64
persons     int64
lug_boot    int64
safety      int64
class       int64
dtype: object

----------------------------------------------------------------------------------------------------------------------------

In [18]:
df

      buying  maint  doors  persons  lug_boot  safety  class
0          4      4      2        2         1       2      1
1          4      4      2        2         1       3      1
2          4      4      2        2         2       1      1
3          4      4      2        2         2       2      1
4          4      4      2        2         2       3      1
...      ...    ...    ...      ...       ...     ...    ...
1722       1      1      5        5         2       2      3
1723       1      1      5        5         2       3      4
1724       1      1      5        5         3       1      1
1725       1      1      5        5         3       2      3
1726       1      1      5        5         3       3      4

[1727 rows x 7 columns]

In [19]:
df.shape

(1727, 7)

In [20]:
df.dtypes

buying      int64
maint       int64
doors       int64
persons     int64
lug_boot    int64
safety      int64
class       int64
dtype: object

In [22]:
df.to_csv('New_data_cardst.csv', index = False)